<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Maki Cattery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Poppins:wght@400;500;600;700&family=Volkhov:wght@700&family=Kanit&family=Noto+Sans+Thai&family=Sarabun:wght@200;400;600&display=swap" rel="stylesheet">
</head>
  <body>
    <div class="page-home">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/" id="maki-cattery"><img src="./assets/maki-logo.png" id="logo" alt="logo">Maki Cattery</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cats">Cats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            </div>
        </nav>
        <div class="my-container">
            <div class="row">
                <div class="col-lg-6">
                    <h3 id="above">WELCOME TO OUR FELINE CATTERY</h3>
                    <h1 id="title">Discover Your <br/>
                        Cat's in Our  <br/>
                        Luxury Cattery</h1>
                    <p id="text" class="mt-4">Find your family member at our cattery, where every cat
                        awaits their forever home. With<br/> diverse personalities and
                        breeds, discovering your match is easy</p>
                        <div class="d-flex flex-column flex-sm-row mt-4">
                            <button id="explore" onclick="window.location.href='/cats'">น้องแมวรอเจ้าของ</button>
                            <div id="info" class="m-5 mt-0 mb-0">
                                <img src="assets/icon-information.png">
                                <a href="/contact" id="maki">Maki Cattery</a>
                            </div>
                    </div>
                   
                </div>
                <div class="col-lg-6 col-sm-0 text-end d-none d-lg-block">
                    <img src="assets/pagehome-cat.png" alt="cat" id="cat">
                </div>
            </div>
           
        </div>
    </div>
    <div class="page-category">
        <img id="page-category-bg" src="assets/page-category-bg.png">
        <h3 class="head-page mt-2">CATEGORY</h3>
        <h2 class="description-page mt-1 ">We Offer Best Services</h2>
        <div class="row">
            <div class="col-sm-12  col-md-6 col-lg-3">
                <div class="category-box">
                    <img src="assets/image-cats.png" alt="cats">
                    <h4 class="mt-4">
                        Variety of cats
                    </h4>
                    <p class="mt-3"> Ensures finding your<br/> perfect feline <br/>companion is easy.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3" id="highlight-box">
                <div class="category-box" >
                    <img src="assets/image-pedigree.png" alt="cats">
                    <h4 class="mt-4">
                        Certificate Pedigree
                    </h4>
                    <p class="mt-3"> WCF certification <br/> ensures pedigree  <br/>authenticity.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="category-box">
                    <img src="assets/image-vaccine.png" alt="cats">
                    <h4 class="mt-4">
                        Vaccinated
                    </h4>
                    <p class="mt-3">Ensuring their health <br/> and well-being.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="category-box">
                    <img src="assets/image-help.png" alt="cats">
                    <h4 class="mt-4">
                        Expert Guidance
                    </h4>
                    <p class="mt-3"> Expert support <br/> throughout your  <br/>adoption journey.</p>
                </div>
            </div>
        </div>
    </div>
   <div class="page-showcase">
        <img id="page-category-bg-2" src="assets/page-category-bg-2.png">

        <h3 class="head-page mt-2">Showcase</h3>
        <h2 class="description-page mt-1 ">Top Breeders</h2>
        <div class="showcase-row home-show">
           
                <div class="card">
                    <img src="assets/showcase-1.jpg" class="card-img-top" alt="cat1">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <p class="text-start">Gluay Munchkin</p>
                            <span class="text-end">6 y/o</span>
                        </div>
                        <div class="d-flex gap-2 mt-2 align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gender-male" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8"/>
                              </svg>
                            <p class="text-start">Kinkalow</p>
                        </div>
                    </div>
                </div>
          
            
                <div class="card">
                    <img src="assets/showcase-2.jpg" class="card-img-top" alt="cat1">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <p class="text-start">Gluay Munchkin</p>
                            <span class="text-end">6 y/o</span>
                        </div>
                        <div class="d-flex gap-2 mt-2 align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gender-female" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1a4 4 0 1 0 0 8 4 4 0 0 0 0-8M3 5a5 5 0 1 1 5.5 4.975V12h2a.5.5 0 0 1 0 1h-2v2.5a.5.5 0 0 1-1 0V13h-2a.5.5 0 0 1 0-1h2V9.975A5 5 0 0 1 3 5"/>
                              </svg>
                            <p class="text-start">Kinkalow</p>
                        </div>
                    </div>
                </div>
           
        
                <div class="card">
                    <img src="assets/showcase-3.jpg" class="card-img-top" alt="cat1">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <p class="text-start">Gluay Munchkin</p>
                            <span class="text-end">6 y/o</span>
                        </div>
                        <div class="d-flex gap-2 mt-2 align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gender-male" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8"/>
                              </svg>
                            <p class="text-start">Kinkalow</p>
                        </div>
                    </div>
                </div>
        </div>
   </div>
   <footer>
    <div class="footer-container">
         <div class="row">
           <div class="col-lg-1">

           </div>
           <div id="maki-footer" class="col-lg-3 p-5 pt-0 pb-0">
                <h3 class="footer-title-1">Maki</h3>
               <p class="mt-4">Fall in Love with a Cat from<br/>
               Our Cattery Today</p>                
           </div>
           <div class="col-lg-2">
                <h3 class="footer-title">Cattery</h3>
                <p class="footer-text"><a href="/contact">About us</a></p>
           </div>
           <div class="col-lg-2">
               <h3 class="footer-title">Contact</h3>
               <p class="footer-text"><a href="https://maps.app.goo.gl/4FL1LrC2NbBzPsdR8?g_st=i">Address</a></p>
               <p class="footer-text"><a href="#" data-bs-toggle="tooltip" data-bs-title="095 419 6694">Mobile</a></p>
               <p class="footer-text"><a href="https://line.me/ti/p/yl5WWqIM3f">Line</a></p>

          </div>
          <div class="col-lg-2">
               <h3 class="footer-title">Social Media</h3>
               <p class="footer-text"><a href="https://www.facebook.com/zumooowa?mibextid=2JQ9oc">Facebook</a></p>
               <p class="footer-text"><a href="https://www.instagram.com/maki_cattery?igsh=MXBvZ3FzZXJubXkzaA%3D%3D&utm_source=qr">Instagram</a></p>
               <p class="footer-text"><a href="https://www.tiktok.com/@maki_cattery?_t=8jmt98LlrEn&_r=1">Tiktok</a></p>
           </div>
           <div class="col-lg-2">
               <a href="https://www.facebook.com/zumooowa?mibextid=2JQ9oc"><img src="./assets/icon-facebook.png" alt="facebook"></a>
               <a href="https://www.instagram.com/maki_cattery?igsh=MXBvZ3FzZXJubXkzaA%3D%3D&utm_source=qr"><img src="./assets/icon-instagram.png" alt="instagram"></a>
               <a href="https://line.me/ti/p/yl5WWqIM3f"><img src="./assets/icon-line.png" alt="line"></a>
           </div>
       </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script>
   const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
   const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

  </body>
</html>